.ui.secondary.pointing.menu {
  border-bottom: 1px solid rgba(34,36,38,.15) !important;
}

.ui[class*="right floated"].button, .ui[class*="right floated"].buttons {
  margin-right: 15px;
}

.verticalSpace{
  height: 35px;
}

.visible.transition {
  display:grid !important;
  visibility: visible!important;
}

.removePost{
  margin-right: 0px !important;
}

